<nav style="background-color: #f8f9fa; padding: 10px 20px; display: flex; justify-content: space-between; align-items: center;">
    <div class="navbar-brand">
      <a href="/" style="text-decoration: none; font-size: 1.5em; color: #333;">LocaVelo</a>
    </div>
    <ul style="list-style: none; margin: 0; padding: 0; display: flex; gap: 20px;" >
      <li style="text-decoration: none; color: #333;" >Bienvenue, </li>
      <li>
        <a href="/" style="text-decoration: none; color: #333;">Accueil</a>
      </li>
      <li>
        <a href="/type-velos" style="text-decoration: none; color: #333;">Types Vélos</a>
      </li>
      <li>
        <a href="/historique" style="text-decoration: none; color: #333;">Historique</a>
      </li>
      <li>
        <a href="/admin" style="text-decoration: none; color: #333;">Profil Administration</a>
      </li>
    </ul>
    <ul style="list-style: none; margin: 0; padding: 0; display: flex; gap: 20px;">
      <li style="text-decoration: none; color: #333;"><a routerLink="/admin">Admin</a></li>
      <li ><a style="text-decoration: none; color: #333;">Connexion</a></li>
      <li ><a  style="text-decoration: none; color: #333;">Inscription</a></li>
      <li ><a style="text-decoration: none; color: #333;">Déconnexion</a></li>
    </ul>
  </nav>
  