<div class="admin-layout">
  <!-- Sidebar -->
  <aside class="sidebar">
    <ul class="menu">
      <li><a routerLink="stations" routerLinkActive="active">Stations</a></li>
      <li><a routerLink="velos" routerLinkActive="active">Vélos</a></li>
      <li><a routerLink="type-velos" routerLinkActive="active">Types Vélos</a></li>
      <li><a routerLink="reservations" routerLinkActive="active">Réservations</a></li>
      <li><a routerLink="utilisateurs" routerLinkActive="active">Utilisateurs</a></li>
    </ul>
  </aside>

  <!-- Main Content -->
  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
